<%= render "shared/header" %>

<div>
  <%= image_tag 'kegon.jpeg', class: "background_top" %>
</div>

<div class=top_message>
    <p class=top_message_space>さぁ　旅に出かけよう!</p>
    <p>新しい発見が君を待っている</p>
</div>

<div class=top_container>
    <button>検索</button>
</div>



<footer class=top_footer>
  <p class=company_name2>ペンギン観光</p>
  <p class=top_footer_copyright>Copyright © Pengin Tour Campany 2024 ALL rights reserved</p>
</footer>


