.login_container{
    background-color: whitesmoke;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
}
.title_login{
    text-align: center;
}
.login_form1{
    width: 90%;
    height: 30px;
    margin-left: 5%;
}
.action_login{
    padding-bottom: 10px;
    text-align: center;
}
.login_button{
    margin-top: 10px;
    width: 100px;
    padding: 10px ;
}