.reserved_container{
    margin-left: 5%;
    margin-right: 5%;
}
.reserved_title{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.reserved_table{
    width: 100%;
    text-align: left;
}
.reserved_image{
    width: 100px;
    height: 50px;
}
.reserved_to_edit{
    text-decoration: none;
    color: blue;
}