*{
    margin: 0;
}
.background_top{
    width: 100%;
    z-index: 1;
}
.top_message{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    top: 20%;
    left: 20%;
    color: rgb(215, 144, 144);
    z-index: 10;
}
.top_message_space{
    margin-left: 70px;
}.top_container{
    position: absolute;
    background-color: whitesmoke;
    top: 50%;
    left: 30%;
    z-index: 10;
}
.top_footer{
    width: 100%;
    background-color: rgb(120, 220, 210);
}
.company_name2{
    margin-left: 2%;
    padding-top: 5px;
    font-size: 30px;
    color: white;
}
.top_footer_copyright{
    margin-left: 2%;
    color: white;
}